<script lang="ts" setup>
//finish
import { ref } from "vue";
const emoImg = ref("feeling_imgs/smile.png");
const emoName = ref("Smile");
function Smile() {
  emoName.value = "Smile";
  emoImg.value = "feeling_imgs/smile.png";
}
function Cute() {
  emoName.value = "Cute";
  emoImg.value = "feeling_imgs/cute.png";
}
function Angry() {
  emoName.value = "Angry";
  emoImg.value = "feeling_imgs/angry.png";
}
function Shock() {
  emoName.value = "Shock";
  emoImg.value = "feeling_imgs/shocked.png";
}
function Excited() {
  emoName.value = "Excited";
  emoImg.value = "feeling_imgs/excited.png";
}
function Pain() {
  emoName.value = "Pain";
  emoImg.value = "feeling_imgs/pain.png";
}
</script>
<template>
  <v-container>
    <v-row class="ma-16">
      <v-col cols="6">
        <v-img :src="emoImg" width="100%" cover></v-img>
      </v-col>
      <v-col cols="6">
        <div class="center">
          <h1>{{ emoName }}</h1>
        </div>
        <v-btn block @click="Angry" height="60px" class="ma-4"
          ><h2>Angry</h2></v-btn
        >
        <v-btn block @click="Cute" height="60px" class="ma-4"
          ><h2>Cute</h2></v-btn
        >
        <v-btn block @click="Excited" height="60px" class="ma-4"
          ><h2>Excited</h2></v-btn
        >
        <v-btn block @click="Pain" height="60px" class="ma-4"
          ><h2>Pain</h2></v-btn
        >
        <v-btn block @click="Shock" height="60px" class="ma-4"
          ><h2>Shock</h2></v-btn
        >
        <v-btn block @click="Smile" height="60px" class="ma-4"
          ><h2>Smile</h2></v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.center {
  margin: 20px;
  text-align: center;
}

button:focus {
  background: yellow;
}
</style>
